<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="WmsBulletConnection"
             connectionString="Server=.;Database=WmsBullet;User Id=poongsan;Password=poongsan;"
             providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="AntApiBaseUrl" value="http://localhost:8081/" />
		<add key="AntApiUsername" value="admin" />
		<add key="AntApiPassword" value="123456" />

		<!-- 메인 Modbus (MainViewModel에서 사용) 설정 -->
		<!-- 실제 환경에서는 "RTU" 모드 사용 예정 -->
		<add key="ModbusMode" value="TCP" />
		<!-- "TCP" 또는 "RTU" -->
		<add key="ModbusIpAddress" value="127.0.0.1"/>
		<add key="ModbusPort" value="502"/>
		<add key="ModbusSlaveId" value="1" />

		<add key="ModbusComPort" value="COM3" />
		<add key="ModbusBaudRate" value="9600" />
		<add key="ModbusParity" value="None" />
		<add key="ModbusDataBits" value="8" />
		<add key="ModbusStopBits" value="One" />

		<!-- RobotMissionService에서 사용하는 미션 실패 확인용 Modbus 설정 -->
		<!-- 실제 환경에서는 "TCP" 모드 사용 예정 -->
		<add key="MissionModbusMode" value="TCP" />
		<add key="MissionModbusIpAddress" value="127.0.0.1"/>
		<add key="MissionModbusPort" value="502"/>
		<!-- 다른 포트 사용 예시 -->
		<add key="MissionModbusSlaveId" value="1" />

		<add key="MissionModbusComPort" value="COM4" />
		<add key="MissionModbusBaudRate" value="9600" />
		<add key="MissionModbusParity" value="None" />
		<add key="MissionModbusDataBits" value="8" />
		<add key="MissionModbusStopBits" value="One" />

		<!-- 새로운 MC Protocol 설정 -->
		<add key="McProtocolIpAddress" value="192.168.200.61"/>
		<add key="McProtocolIpAddress556mm1" value="192.168.200.61"/>
		<add key="McProtocolIpAddress556mm2" value="192.168.200.62"/>
		<add key="McProtocolIpAddress762mm" value="192.168.200.63"/>
		<add key="McProtocolIpAddressMagazine" value="192.168.200.64"/>
		<add key="McProtocolIpAddressRacks" value="192.168.200.65"/>
		<add key="McProtocolIpAddressQatar" value="192.168.200.66"/>
		<!-- PLC 실제 IP 주소로 변경 -->
		<add key="McProtocolPort" value="6000"/>
		<!-- MC Protocol 기본 포트 -->
		<add key="McProtocolCpuType" value="144"/>
		<!-- 예: QCPU (0x90)의 10진수 값. 실제 PLC CPU 타입에 맞게 변경 (0x90 = 144) -->
		<add key="McProtocolNetworkNo" value="0"/>
		<!-- 네트워크 번호 (일반적으로 0) -->
		<add key="McProtocolPcNo" value="255"/>
		
		<add key="WaitRackTitle" value="WAIT"/>
		<add key="WarehouseAMR" value="AMR_2"/>
		<add key="PackagingLineAMR" value="AMR_2"/>
		<!-- RobotMissionService에서 사용할 군수품 문자열 -->
		<add key="MilitaryCharacters" value="abc "/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>