<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="WmsBulletConnection"
             connectionString="Server=.;Database=WmsBullet;User Id=poongsan;Password=poongsan;"
             providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="AntApiBaseUrl" value="http://localhost:8081/" />
		<add key="AntApiUsername" value="admin" />
		<add key="AntApiPassword" value="123456" />

		<!-- 메인 Modbus (MainViewModel에서 사용) 설정 -->
		<!-- 실제 환경에서는 "RTU" 모드 사용 예정 -->
		<add key="ModbusMode" value="TCP" />
		<!-- "TCP" 또는 "RTU" -->
		<add key="ModbusIpAddress" value="127.0.0.1"/>
		<add key="ModbusPort" value="502"/>
		<add key="ModbusSlaveId" value="1" />

		<add key="ModbusComPort" value="COM7" />
		<add key="ModbusBaudRate" value="9600" />
		<add key="ModbusParity" value="None" />
		<add key="ModbusDataBits" value="8" />
		<add key="ModbusStopBits" value="One" />

		<!-- RobotMissionService에서 사용하는 미션 실패 확인용 Modbus 설정 -->
		<!-- 실제 환경에서는 "TCP" 모드 사용 예정 -->
		<add key="MissionModbusMode" value="TCP" />
		<!-- add key="MissionModbusIpAddress" value="192.168.200.222" -->
		<add key="MissionModbusIpAddress" value="192.168.200.202"/>
		<add key="MissionModbusPort" value="502"/>
		<!-- 다른 포트 사용 예시 -->
		<add key="MissionModbusSlaveId" value="1" />

		<add key="MissionModbusComPort" value="COM4" />
		<add key="MissionModbusBaudRate" value="9600" />
		<add key="MissionModbusParity" value="None" />
		<add key="MissionModbusDataBits" value="8" />
		<add key="MissionModbusStopBits" value="One" />

		<!-- 새로운 MC Protocol 설정 -->
		<add key="McProtocolInterface" value="false"/>
		<add key="McProtocolIpAddress" value="192.168.200.101"/>
		<add key="McProtocolIpAddress556mm1" value="192.168.200.101"/>
		<add key="McProtocolIpAddress556mm2" value="192.168.200.102"/>
		<add key="McProtocolIpAddress762mm" value="192.168.200.103"/>
		<add key="McProtocolIpAddressMagazine" value="192.168.200.111"/>
		<add key="McProtocolIpAddressRacks" value="192.168.200.112"/>
		<add key="McProtocolIpAddressQatar" value="192.168.200.120"/>
		<!-- PLC 실제 IP 주소로 변경 -->
		<add key="McProtocolPort" value="6000"/>
		<!-- MC Protocol 기본 포트 -->
		<add key="McProtocolCpuType" value="144"/>
		<!-- 예: QCPU (0x90)의 10진수 값. 실제 PLC CPU 타입에 맞게 변경 (0x90 = 144) -->
		<add key="McProtocolNetworkNo" value="0"/>
		<!-- 네트워크 번호 (일반적으로 0) -->
		<add key="McProtocolPcNo" value="255"/>
		
		<add key="WrapRackTitle" value="WRAP"/>
		<add key="WarehouseAMR" value="AMR_2"/>
		<add key="WarehouseAMRName" value="Poongsan_2"/>
		<add key="PackagingLineAMR" value="AMR_2"/>
		<add key="PackagingLineAMRName" value="Poongsan_2"/>
		<!-- RobotMissionService에서 사용할 군수품 문자열 -->
		<add key="MilitaryCharacters" value="abc "/>

		<add key="CallButton01Title" value="223#1 A"/>
		<add key="CallButton02Title" value="223#1 B"/>
		<add key="CallButton03Title" value="223#1  Bypass"/>
		<add key="CallButton04Title" value="223#2 A"/>
		<add key="CallButton05Title" value="223#2 B"/>
		<add key="CallButton06Title" value="223#2  Bypass"/>
		<add key="CallButton07Title" value="308"/>
		<add key="CallButton08Title" value="Pallet 공급"/>
		<add key="CallButton09Title" value="Pad 공급"/>
		<add key="CallButton10Title" value="카타르 A"/>
		<add key="CallButton11Title" value="카타르 B"/>
		<add key="CallButton12Title" value="특수포장"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>
